<div class="container mt-5 mb-5 text-center">
    <h1>Listado de servicios</h1>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-1">
                <button mat-raised-button color="primary" routerLink="/createservice">
                    Nuevo
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <!-- <div class="col">
                <button mat-raised-button color="primary">Primary</button>
            </div> -->
        </div>
        <div class="row">
            <div class="col text-right">
                <mat-tab-group>
                    <mat-tab label="de Tarea">
                        <mat-accordion class="description-align">
                            <mat-expansion-panel *ngFor="let service of tareaServices">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{service.name}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        This is a summary of the content
                                        <div class="icon-container">
                                            <button mat-icon-button aria-label="Editar">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button aria-label="Borrar">
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>
                                        </div>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="container text-center">
                                    <img src="assets/tarea-1.png" alt="Imagen de la tarea 1">
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                    <mat-tab label="Microservicios">
                        <mat-accordion class="description-align">
                            <mat-expansion-panel *ngFor="let service of microservices">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{service.name}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        This is a summary of the content
                                        <div class="icon-container">
                                            <button mat-icon-button aria-label="Editar">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button aria-label="Borrar">
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>
                                        </div>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="container text-center">
                                    <img src="assets/tarea-1.png" alt="Imagen de la tarea 1">
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>