.login {
    height: 100%;
}

.login_side {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(18,18,84,1) 0%, rgba(13,50,131,1) 27%, rgba(36,92,199,1) 100%);
}

.login_logo {
    width: 60%;
}

.login_title {
    color: white;
    font-size: xx-large;

    margin-top: 30%;
}

.login_field {
    margin-bottom: 10px;
    width: 270px;
}

.login_form {
    margin-top: 40vh;    
}

.align_rigth {
    text-align: right;
}