<div class="container-fluid">

<div class="row login">
    <div class="col-6 login_side">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h1 class="login_title mb-5">SuperIA</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img height="300vh" class="login_logo mt-5" src="assets/brainicon.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <div class="login_form">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col">
                        <h1 class="mb-5">Iniciar sesión</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="login_field" appearance="fill">
                            <mat-label>Usuario</mat-label>
                            <input type="text" matInput formControlName="username">
                            <button matSuffix mat-icon-button>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="login_field" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password">
                            <button matSuffix mat-icon-button>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>          
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-raised-button color="primary" (click)="login()">Acceder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-1"></div>
</div>

</div>