<div mat-dialog-title>
    <mat-icon class="text-muted service_icon2">play_arrow</mat-icon> 
    <span class="h5 text-muted m-2 mb-5 runService_title">{{ service.name }}</span>
</div>

<form mat-dialog-content [formGroup]="form" class="mb-5">
    <div class="container-fluid">    
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-12">
                    <div class="mt-2">
                        <span class="h5">Input</span>
                    </div>

                    <mat-form-field *ngIf="service.inputType == 'JSON'"  class="full-width mt-3" appearance="outline">                                        
                        <mat-label>Payload</mat-label>
                        <input class="full-width" formControlName="payload" matInput placeholder="..." (keyup.enter)="runService()">
                    </mat-form-field>

                    <ngx-dropzone *ngIf="service.inputType == 'image'" (change)="onSelect($event)" class="mt-3">
                        <ngx-dropzone-label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="63" height="64" viewBox="0 0 63 64">
                                <g fill="#3B454F" fill-rule="nonzero">
                                    <path
                                        d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765 9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785 0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z" />
                                    <path
                                        d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1 3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z" />
                                    <path
                                        d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599 4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402 3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0 .628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599 4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219 7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0 0 0 3.282 3.282H55.78a3.286 3.286 0 0 0 3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0 0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402 3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0 0 0-.628-.467H4.594z" />
                                </g>
                            </svg>  
                            <br><br>
                            Arrastra aquí tus archivos  
                        </ngx-dropzone-label>
                        
                        <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove(file)">
                            <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div>
            </div>
            
            <div *ngIf="loading" class="d-flex justify-content-center p-5">
                <mat-spinner [diameter]="50" color="accent" class=""></mat-spinner>
            </div>

            <div *ngIf="output">
                <mat-divider class="mb-3 mt-5"></mat-divider>
                <div>
                    <span class="h5">Output</span>
                    <div class="mt-3">
                        <pre>
{{output}}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div mat-dialog-actions class="d-flex justify-content-between">
    <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid && !file" class="service_btn" (click)="runService()">
        <span>Run</span>&nbsp;&nbsp;&nbsp;
        <mat-icon class="service_icon">whatshot</mat-icon>
    </button>    
    <button mat-dialog-close mat-raised-button color="primary" class="service_btn">
        <span>Cerrar</span>&nbsp;&nbsp;&nbsp;
        <mat-icon class="service_icon">close</mat-icon>
    </button>
</div>