.spacer-x {
    flex: 1 1 auto;
}

.mar-1 {
    margin:5px;
}

.mar-r-5 {
    margin-right: 25px;
}

.pad-1 {
    padding: 5px;
}

.logo_header {
    height: 50px;
    width: 50px;
}

.text_light {
    font-size: small;
    font-weight: 100;
}

mat-drawer   {
    width: 200px;
    background-color: #ffffff;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }