<div class="container mt-3 mb-3">
    <mat-accordion class="description-align">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Servicio tarea 1
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                    <div class="icon-container">
                        <button mat-icon-button aria-label="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Borrar">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container text-center">
                <img src="assets/tarea-1.png" alt="Imagen de la tarea 1">
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Servicio tarea 2
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                    <div class="icon-container">
                        <button mat-icon-button aria-label="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Borrar">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container text-center">
                <img src="assets/tarea-1.png" alt="Imagen de la tarea 1">
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Servicio tarea 3
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                    <div class="icon-container">
                        <button mat-icon-button aria-label="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Borrar">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container text-center">
                <img src="assets/tarea-1.png" alt="Imagen de la tarea 1">
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>