<div class="container mt-5 mb-5 text-center">
    <h1>Listado de servicios</h1>
    <div class="container">
        <div class="row">
            <div class="col text-right">
                <mat-tab-group [(selectedIndex)]="selectedTab">
                    <mat-tab label="Tarea">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button mat-raised-button color="primary" [routerLink]="['/createservice']" [queryParams]="{type:'tarea'}" class="mt-2">
                                    Nuevo
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <mat-form-field appearance="fill">
                                <mat-label>Buscar servicio</mat-label>
                                <input matInput placeholder="Nombre">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <mat-accordion class="description-align" multi>
                            <mat-expansion-panel *ngFor="let service of tareaServices; let i=index">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="">view_list</mat-icon>
                                        <span class="m-2">{{service.name}}</span>
                                    </mat-panel-title>
                                    <mat-panel-description>{{service.uri}}</mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-list role="list">

                                    <mat-divider class="mb-5"></mat-divider>

                                    <div class="container mb-5">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-5">
                                                <div class="color-blue">
                                                    <span>Input</span>
                                                </div>
                                                <mat-icon class="m-2">arrow_drop_down</mat-icon>
                                                <div *ngFor="let s of service.body">
                                                    <mat-card class="service_card m-1">{{ s }}</mat-card>
                                                    <mat-icon class="m-2">arrow_drop_down</mat-icon>
                                                </div>
                                                <div class="bold color-blue">
                                                    <span>Output</span>
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-4">
                                                <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Tipo</th>
                                                        <th scope="col">Entrada</th>
                                                        <th scope="col">Salida</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>{{ service.type }}</td>
                                                        <td>{{ service.inputType }}</td>
                                                        <td>{{ service.outputType }}</td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>    
                                    </div>

                                    <mat-list-item class="between">
                                        <button mat-flat-button color="accent" class="m-2 service_btn" (click)="openDialogRun(service,'0ms','0ms')">
                                            <span class="">Ejecutar</span>&nbsp;&nbsp;
                                            <mat-icon color="white" class="service_icon">whatshot</mat-icon>
                                        </button>
                                        <div>
                                            <button mat-flat-button color="primary" class="m-2 service_btn" (click)="updateService(service)">
                                                <span class="">Editar</span>&nbsp;&nbsp;
                                                <mat-icon color="white" class="service_icon">edit</mat-icon>
                                            </button>
                                            <button mat-stroked-button color="warn" class="border border-danger service_btn" (click)="openDialogDelete(service,'0ms', '0ms')">
                                                <span class="">Eliminar</span>&nbsp;&nbsp;
                                                <mat-icon color="warn" class="service_icon">delete_forever</mat-icon>
                                            </button>
                                        </div>
                                    </mat-list-item>

                                </mat-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                    <mat-tab label="Microservicios">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button mat-raised-button color="primary" [routerLink]="['/createservice']" [queryParams]="{type:'microservicio'}" class="mt-2">
                                    Nuevo
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <mat-form-field appearance="fill">
                                <mat-label>Buscar servicio</mat-label>
                                <input matInput placeholder="Nombre">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <mat-accordion class="description-align" multi>
                            <mat-expansion-panel *ngFor="let service of microservices; let i=index">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="">view_list</mat-icon>
                                        <span class="m-2">{{service.name}}</span>
                                    </mat-panel-title>
                                    <mat-panel-description>{{service.uri}}</mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-list role="list">

                                    <mat-divider class=""></mat-divider>
                                     
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Tipo</th>
                                                        <th scope="col">Entrada</th>
                                                        <th scope="col">Salida</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>{{ service.type }}</td>
                                                        <td>{{ service.inputType }}</td>
                                                        <td>{{ service.outputType }}</td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>    
                                    </div>
                                    
                                    <mat-list-item class="between">
                                        <button mat-flat-button color="accent" class="m-2 service_btn" (click)="openDialogRun(service,'0ms','0ms')">
                                            <span class="">Ejecutar</span>&nbsp;&nbsp;
                                            <mat-icon color="white" class="service_icon">whatshot</mat-icon>
                                        </button>
                                        <div>
                                            <button mat-flat-button color="primary" class="m-2 service_btn" (click)="updateService(service)">
                                                <span class="">Editar</span>&nbsp;&nbsp;
                                                <mat-icon color="white" class="service_icon">edit</mat-icon>
                                            </button>
                                            <button mat-stroked-button color="warn" class="border border-danger service_btn" (click)="openDialogDelete(service,'0ms', '0ms')">
                                                <span class="">Eliminar</span>&nbsp;&nbsp;
                                                <mat-icon color="warn" class="service_icon">delete_forever</mat-icon>
                                            </button>
                                        </div>
                                    </mat-list-item>
                                    
                                </mat-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<!-- <br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br> -->