<div class="container mt-5">
    <h1>Crear nuevo servicio</h1>
    <form class="example-form mt-5" [formGroup]="form">
        
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                <mat-label>Tipo de servicio</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="tarea">Tarea</mat-option>
                  <mat-option value="microservicio">Microservicio</mat-option>
              </mat-select>
                </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>URI de punto final</mat-label>
          <input matInput formControlName="uri">
        </mat-form-field>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tipo entrada</mat-label>
            <mat-select formControlName="inputType">
              <mat-option value="JSON">JSON</mat-option>
            </mat-select>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tipo salida</mat-label>
            <mat-select formControlName="outputType">
              <mat-option value="JSON">JSON</mat-option>
            </mat-select>
          </mat-form-field></td>
        </tr></table>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Body (en formato JSON)</mat-label>
          <textarea formControlName="body" matInput placeholder="['servicio1','servicio2',...]"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" routerLink="/createservice" (click)="submit() ">
          Crear
          <mat-icon>add</mat-icon>
      </button>
      </form>
</div>