<div class="container mt-5 p-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <form class="example-form mt-5" [formGroup]="form">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h1>Crear nuevo servicio</h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="name" placeholder="service1">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Tipo de servicio</mat-label>
                  <mat-select formControlName="type">
                    <mat-option value="tarea">Tarea</mat-option>
                    <mat-option value="microservicio">Microservicio</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>URI de punto final</mat-label>
                  <input matInput formControlName="uri" placeholder="http://localhost:8000/testmicroservice">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Tipo entrada</mat-label>
                  <mat-select formControlName="inputType">
                    <mat-option value="JSON">JSON</mat-option>
                    <mat-option value="image">Image</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Tipo salida</mat-label>
                  <mat-select formControlName="outputType">
                    <mat-option value="JSON">JSON</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="serviceType == 'tarea'" class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Body (en formato JSON)</mat-label>
                  <textarea formControlName="body" matInput placeholder="['servicio1','servicio2',...]"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button  mat-button color="primary" [routerLink]="['/servicelist']" [queryParams]="{selectedTab:serviceListTab}" class="service_btn">
                  <mat-icon class="service_icon">keyboard_arrow_left</mat-icon>
                  Volver al listado
                </button>
              </div>
              <div class="col-6"></div>
              <div class="col-3">
                <button  mat-raised-button [disabled]="!form.valid" color="primary" (click)="submit()">
                  Crear
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="col"></div>
  </div>
</div>